@import "src/scss/variables";

.chat {
  width: $fullPers*0.6;
  border-bottom: $border-bottom;
  background: $backgroundHeader;
}

.photo {
  @include widthHeightPositionBorder($fullPx*0.5, $fullPx*0.5, null, $fullPx*0.5);
}

.header {
  @include backDisplayPadding($backgroundHeader, $display, $fullPx*0.15);
  height: $height*0.12;
  align-items: $align-self;

  .online {
    @include widthHeightPositionBorder($fullPx*0.18, $fullPx*0.18, $position, null);
    align-self: $flex-end;
    padding-bottom: $fullPx*0.1;
    padding-left: $fullPx*0.4;
  }

  h3 {
    margin-left: $fullPx*0.15;
  }
}

.main {
  width: $fullPers;
  background: $backgroundChat;
  border-bottom: $border-bottom;
  border-top: $border-bottom;
  @include sizingHeightOverflow($boxSizing, $height*0.7, $overflow);

  .message {
    display: $display;
    margin: $fullPx*0.15;

    .content {
      .date {
        font-size: $fullPx*0.12;
        margin-top: $fullPx*0.05;
      }

      .hisSms {
        @include backDisplayPadding($backgroundSms, $display, $paddingSms);
        @extend %sms;
        color: $white;
      }

      .mySms {
        @include backDisplayPadding($backgroundMySms, $display, $paddingSms);
        @extend %sms;
      }
    }
  }
}

.flexEnd {
  @include flex($display, $align-self, $flex-end);
  margin: $fullPx*0.15;
  flex-wrap: $wrap;
}

.footer {
  width: 100%;
  background: $backgroundHeader;
  margin-top: $fullPx*0.25;
  @include flex($display, $align-self, $align-self);

  .inp {
    width: $fullPers*0.9;
  }

  .inpSms {
    @include widthHeightPositionBorder($fullPers, $fullPx*0.3, null, $fullPx*0.5);
    outline: none;
    padding-left: 15px;
  }

  .imgSend {
    @extend %widthHeight;
    justify-self: $flex-end;
  }
}
