@import "src/scss/variables";

.user {
  padding: $fullPx*0.15;
  display: $display;
  border-bottom: $border-bottom;
  align-items: $align-self;

  .info {
    display: $display;
    margin-right: $fullPx*0.1;

    .photo {
      @include widthHeightPositionBorder($fullPx*0.5, $fullPx*0.5, null, $fullPx*0.5);
    }

    .online {
      @extend %widthHeight;
      align-self: $align-self;
    }
  }


  .name {
    width: $fullPers;
    display: $display;
    justify-content: $space-between;

    .nameDate {
      align-items: $align-self;

      .userName {
        font-size: $fullPx*0.18;
      }

      .text {
        @include sizingHeightOverflow($boxSizing, null, $fullPx*0.5 $hidden);
        font-size: $fullPx*0.14;
      }
    }

    .date {
      font-size: $fullPx*0.14;
    }
  }
}






