@import "src/scss/variables";

.appl {
  display: $display;
}

.components {
  width: $fullPers*0.4;
  border-right: $border-bottom;
  @include sizingHeightOverflow($boxSizing, $height, null);

  .wrapper {
    @include sizingHeightOverflow($boxSizing, $height*0.7, $overflow);
  }
}