@import "src/scss/variables";

.people {
  @include sizingHeightOverflow($boxSizing, null, $overflow);
  background: $backgroundHeader;
  width: $fullPers;

  .info {
    display: $display;
    position: $relative;

    .icon {
      @include widthHeightPositionBorder($fullPx*0.5, $fullPx*0.5, null, null);
      border-radius: $fullPx*0.5;
      margin: $fullPx*0.15;
    }

    .online {
      @include widthHeightPositionBorder($fullPx*0.18, $fullPx*0.18, $position, null);
      margin-top: $fullPx*0.5;
      margin-left: $fullPx*0.5;
      }
  }

  .search {
    width: $fullPers;
    display: $display;

    .imgSearch {
      display: $display;
      @include widthHeightPositionBorder($fullPx*0.15, $fullPx*0.15, $position, null);
      align-self: $align-self;
      margin-left: $fullPx*0.25;
    }

    .searchContact {
      @include widthHeightPositionBorder($fullPers*0.8, $fullPx*0.3, null, null);
      @extend %borderMargin;
      outline: $outline;
      padding-left: $fullPx*0.3;
    }
  }

  .chats {
    color: $mediumturquoise;
    background: $white;
    font-size: $fullPx*0.2;
    padding-left: $fullPx*0.15;
  }
}
