.people {
    width: 30vw;
    /*height: 100vh;*/
    border: solid 1px;
    /*box-sizing: border-box;*/
    /*overflow: auto;*/
    /*background-color: lightgray;*/
}

.i {
    background: rgba(230, 230, 230, 0.56);
    width: 100%;
    border-bottom: solid 1px;
    margin: 0 auto;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 15px;
}

/*.serchContact {*/
input {
    width: 90%;
    margin: 15px;
    height: 30px;
    border-radius: 50px;
    outline: none;
    padding-left: 15px;
}

/*input::before{*/
/*  content: 'fhfh';*/
/*  position: relative;*/
/*}*/
.chats {
    color: mediumturquoise;
    font-size: 20px;
    margin: 15px;

}
.usersBox{

    box-sizing: border-box;
    /*scroll: auto*/
    overflow: auto;
}

.user {
    border-bottom: solid 1px;
    display: flex;

    /*flex-wrap: wrap;*/
    /*  margin: 25px 0;*/
    /*padding: 10px;*/
}

.name {
    font-size: 20px;
    margin: 10px;
}
p{
    font-size: 14px;
}